<div class="container">

  <div class="row">
    <div class="col-md-12">

    <div class="card-columns saved-articles">
      {{#each articles}}
      <div class="card mb-4" id="{{this.headline_stub}}-card" style="width: 20rem;">
        <img class="card-img-top" src={{this.img_url}} alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title text-info">{{this.headline}}</h5>
          <p class="card-text">{{this.summary}}</p>
          <a href={{this.link}} class="btn btn-secondary">Link</a>
          <button type="button" data-id={{this._id}} class="btn btn-info notes" data-toggle="modal" data-target="#{{this.headline_stub}}-modal">Notes</button>
          <button type="submit" data-id={{this._id}} data-stub={{this.headline_stub}} class="btn btn-danger delete">Delete</button>
        </div>
      </div>

      {{!--
      <div class="card mb-1" id="{{this.headline_stub}}-card" style="width: 18rem;">
        <img class="card-img-top" src={{this.img_url}} alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{this.headline}}</h5>
          <p class="card-text">{{this.summary}}</p>
          <a href={{this.link}} class="btn btn-link">link</a>
          <button type="button" data-id={{this._id}} class="btn btn-primary notes" data-toggle="modal" data-target="#{{this.headline_stub}}-modal">notes</button>
          <button type="submit" data-id={{this._id}} data-stub={{this.headline_stub}} class="btn btn-danger delete">delete</button>
        </div>
      </div> --}}

      <div class="modal fade" id="{{this.headline_stub}}-modal" tabindex="-1" role="dialog" aria-labelledby="notesModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="notesModalLabel">Notes</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body" id="{{this.headline_stub}}-notes">
              {{#if this.notes}} {{#each this.notes}}
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title text-info">{{this.title}}</h5>
                  <h6 class="card-subtitle mb-2 text-muted" style="font-size: 12px;">Created: {{this.createdAt}}</h6>
                  <p class="card-text">{{this.body}}</p>
                </div>
              </div>
              {{/each}} {{/if}}
              <div class="form-group col-sm-12 text-right">
                <input type="text" class="form-control mb-1" id="{{this.headline_stub}}-title" aria-describedby="noteTitle" placeholder="New Note">
                <textarea type="text" class="form-control mb-1" id="{{this.headline_stub}}-body" aria-describedby="noteTitle" placeholder="..."></textarea>
                <button type="submit" class="btn btn-info col-sm-3 new-note" data-stub={{this.headline_stub}} data-id={{this._id}}>+</button>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
            </div>
          </div>          
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</div>
</div>